/* #Styles
================================================== */

/* General */
body {
	background: #EFEFEF;
	font: 14px/21px 'Open Sans', Arial, Helvetica, sans-serif;
	color: #777;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Fjalla One', 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #444;
	letter-spacing: -1px;
}
hr {border-top-color: #DDD;}
a {color: #33b5e5;}
.thumbnail {background: #FFF;}
.topmargin5 {margin-top: 5%;}
.topmargin10 {margin-top: 10%;}
.topmargin15 {margin-top: 15%;}
.topmargin20 {margin-top: 20%;}
.topmargin25 {margin-top: 25%;}
.topmargin30 {margin-top: 30%;}
.topmargin35 {margin-top: 35%;}
.topmargin40 {margin-top: 40%;}
.topmargin45 {margin-top: 45%;}
.topmargin50 {margin-top: 50%;}
.topmargin55 {margin-top: 55%;}
.topmargin60 {margin-top: 60%;}
.topmargin65 {margin-top: 65%;}
.topmargin70 {margin-top: 70%;}
.topmargin75 {margin-top: 75%;}
.topmargin80 {margin-top: 80%;}
.topmargin85 {margin-top: 85%;}
.topmargin90 {margin-top: 90%;}
.topmargin95 {margin-top: 95%;}
.topmargin100 {margin-top: 100%;}
.bottommargin5 {margin-bottom: 5%;}
.bottommargin10 {margin-bottom: 10%;}
.bottommargin15 {margin-bottom: 15%;}
.bottommargin20 {margin-bottom: 20%;}
.bottommargin25 {margin-bottom: 25%;}
.bottommargin30 {margin-bottom: 30%;}
.bottommargin35 {margin-bottom: 35%;}
.bottommargin40 {margin-bottom: 40%;}
.bottommargin45 {margin-bottom: 45%;}
.bottommargin50 {margin-bottom: 50%;}
.bottommargin55 {margin-bottom: 55%;}
.bottommargin60 {margin-bottom: 60%;}
.bottommargin65 {margin-bottom: 65%;}
.bottommargin70 {margin-bottom: 70%;}
.bottommargin75 {margin-bottom: 75%;}
.bottommargin80 {margin-bottom: 80%;}
.bottommargin85 {margin-bottom: 85%;}
.bottommargin90 {margin-bottom: 90%;}
.bottommargin95 {margin-bottom: 95%;}
.bottommargin100 {margin-bottom: 100%;}

/* Header */
#header {}
#header .brand {
	font-family: 'Fjalla One', 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: normal;
	background: #FFF;
	padding: 40px 10px 10px 10px;
	position: absolute;
	margin-left: 0;
	z-index: 999;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	border-radius: 0 0 4px 4px;
	color: #2f2f2f !important;
}
#header .nav a i {
	float: left;
	margin-top: 3px;
	margin-right: 5px;
	opacity: 0.5;
}
#header .nav a:hover i, #header .nav li.active i {
	opacity: 1;
}
#header .navbar-inner {
	background: #2f2f2f;
}
#header.navbar .divider-vertical {
    border-left: 1px solid #5d5d5d;
    height: 20px;
    margin: 10px 10px 0 9px;
}
#header .badge {
	font-size: 10px;
	line-height: 10px;
	font-weight: normal;
	padding: 2px 5px 3px 5px;
	margin-left: 5px;
}

/* Hero */
#hero {
	overflow: hidden;
	color: #FFF;
	background: #FFF;
	text-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
#hero h1, #hero h2, #hero h3, #hero h4, #hero h5, #hero h6 {
	color: #FFF;
}
#hero .lead {
	opacity: 0.8;
}
#hero-slider {
	border: none !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	background: none !important;
	margin: 0 !important;
}
#hero-slider .slides > li {
	box-shadow: 0 2px 5px rgba(0,0,0,0.2) inset !important;
}
#hero-slider .flex-direction-nav a {
	top: auto;
	bottom:0;
}
#hero-slider .flex-direction-nav .flex-prev {
	left: auto;
	right: 50%;
	margin-right: 1px;
}
#hero-slider .flex-direction-nav .flex-next {
	left: 50%;
	right: auto;
	margin-left: 1px;
}
#slider-item-android {
	background: #748f43 url(../img/android-bg.jpg) no-repeat top center;
}
#slider-item-ios {
	background: #596167 url(../img/ios-bg.jpg) no-repeat top center;
}
#slider-item-windowsphone {
	background: #7FBA00 url(../img/windowsphone-bg.jpg) no-repeat top center;
}

/* Features */
#features {
	padding-top: 100px;
	margin-bottom: 100px;
}
.featurebox {
	text-align: center;
}

/* About */
#about {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding-top: 100px;
	padding-bottom: 100px;
	background: #FFF;
	background: rgba(255,255,255,0.5);
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
#about1 {}
#about2 {}
#about3 {}

/* Gallery */
#gallery {
	padding-top: 100px;
}
.thumbnail img {
	width: 100%;
	height: auto;
}

/* Download */
#download {
	padding-top: 100px;
}
.downloadbox {
	text-align: center;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
#downloadbox-android {
	background: #748f43 url(../img/android-bg-downloadbox.jpg);
	background-size: 100%;
}
#downloadbox-ios {
	background: #596167 url(../img/ios-bg-downloadbox.jpg);
	background-size: 100%;
}
#downloadbox-windowsphone {
	background: #7FBA00 url(../img/windowsphone-bg-downloadbox.jpg);
	background-size: 100%;
}

/* Contact */
#contact {
	padding-top: 100px;
	margin-bottom: 100px;
}
#map {}
#map iframe {
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
#address {}
#contact-form {}

/* Footer */
#footer {
	background: #2F2F2F;
	color: #999;
	padding: 60px 0 50px 0;
	text-align: center;
}
#footer a {
	color: #FFF;
}

/* #Media Queries
================================================== */

/* Higher than 1280px (Desktop big) */
@media only screen and (min-width: 1280px) {}

/* Between 980px and 1270px (Desktop normal) */
@media only screen and (min-width: 980px) and (max-width: 1279px) {}

/* Higher than 980px (Desktop big and normal) */
@media only screen and (min-width: 980px) {
	body {
		background: #EFEFEF url(../img/bg.jpg) repeat-y top center;
	}
	#hero {
		margin-top: 41px;
	}
	#hero .btn-large {
		font-size: 24.5px;
		padding: 18px 26px;
		margin-top: 20px;
	}
	.thumbnail:hover {
		-moz-transform:scale(1.1,1.1);
		-webkit-transform:scale(1.1,1.1);
		-o-transform:scale(1.1,1.1);
		transform:scale(1.1,1.1);
	}
}

/* Smaller than 980px (Tablet and mobile) */
@media only screen and (max-width: 979px) {
	#header .nav {
		margin-top: 50px;
	}
	#header.navbar-fixed-top{
		margin-bottom: 0;
	}
	#header.navbar-fixed-top .navbar-inner {
		padding: 0 20px;
	}
	#hero .lead {
		font-size: inherit;
		line-height: inherit;
	}
}

/* Between 768px and 979px (Tablet portrait) */
@media only screen and (min-width: 768px) and (max-width: 979px) {}

/* Smaller than 767px (Mobile portrait and landscape) */
@media only screen and (max-width: 767px) {
	#hero {
		margin-left: -20px;
		margin-right: -20px;
	}
	#hero-slider .flex-direction-nav a {
		top: 50%;
		bottom:auto;
	}
	#hero-slider .flex-direction-nav .flex-prev {
		left: 0;
		right: auto;
		margin-right: 0;
	}
	#hero-slider .flex-direction-nav .flex-next {
		left: auto;
		right: 0;
		margin-left: 0;
	}
	#hero-slider .slides li .container {
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
	}
	#features .featurebox {
		margin-top: 40px;
	}
	#features .featurebox:first-child {
		margin-top: 0;
	}
	#about, #footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
	#about .row > div:first-child {
		margin-bottom: 40px;
	}
	#about hr {
		margin-bottom: 35px;
	}
	#download .downloadbox {
		margin-top: 40px;
	}
	#download .downloadbox:first-child {
		margin-top: 0;
	}
}

/* Between 480px and 767px (Mobile landscape) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Smaller than 479px (Mobile portrait) */
@media only screen and (max-width: 479px) {}