#header {
	background: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}

#header .navbar-inner {
    background: #efefef;
    border-color: #efefef;
    display: flex;
    height: 70px;
    align-items: center;
}

#header .brand {
    background: none;
    padding: 0;
    position: inherit;
    border-radius: 0;
    box-shadow: none !important;
}

#header .logos-container {
	position: relative;
}

#header .logos-container img.logo-img {
	position: absolute;
    top: -28px;
    height: 100px;
}

#header .logos-container img.logo-text {
    margin-left: 170px;
    height: 40px;
}

#header .logos-container img.logo-t-sobre {
	height: 115px;
}

img.logo-text {
    max-width: 300px;
}

#slider-item-tansen {
    background: #e5e5e5 url(../img/t-sobre-bg.jpeg) no-repeat top center;
    background-size: 100%;
}

@media (max-width: 979px) {
	#slider-item-tansen {
	    background-size: cover;
	}
}

.navbar-inverse .brand, .navbar-inverse .nav>li>a {
	color: #222;
}

.navbar-inverse .nav>li>a:focus, .navbar-inverse .nav>li>a:hover {
	color: #000;
}

#footer {
    background: #717475;
    color: #fff;
    padding: 60px 0 50px;
}

#gallery {
	padding-top: 0;
}

@media (max-width: 979px) {
	.navbar .container {
	    width: 100%;
	    padding: 0;
	}
}

.navbar-inverse .btn-navbar {
	background: none;
	border: none;
	box-shadow: none;
	display: none;
}

@media (max-width: 540px) {
	.navbar .container {
	    width: 100%;
	    padding: 0;
	}
	
	#header .logos-container {
	    margin-left: 15px;
	}

	#header .logos-container img.logo-text {
	    margin-left: 145px;
    	height: 30px;
 	   margin-top: 8px;
	}

	#header .logos-container img.logo-img {
	    position: absolute;
	    top: -27px;
	    height: 95px;
	    left: -15px;
	}
}


.whatsapp-float{
	display: none;
	position:fixed;
	width:60px;
	height:60px;
	bottom:60px;
	right:10px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}


@media only screen and (max-width: 600px) {
	.whatsapp-float {
		display: block;
	}
}

div#termocontraccion {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding-bottom: 60px;
    background: rgba(255,255,255,.5);
    padding-top: 60px;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}